<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
  {% include 'navbar.html'%}
    {% if messages %}
  <div class="row">
  <div class="col-sm-12 col-sm-offset-3" align="center">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
{% endif %}
    <div class="container text-center mt-3">
        <h1>ENTER NEW PAYMENT</h1>
        <div class="mt-5">
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-select" aria-label="Default select example" style="height: 2rem;">
                        <option selected>Open this select menu</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="Sepetember">Sepetember</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="electric_bill">Electric Bill</label>
                            <input type="number" class="form-control" id="electric_bill" name="electric_bill" value="0">
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="wifi_bill">Wifi Bill</label>
                            <input type="number" class="form-control" id="wifi_bill" name="wifi_bill" value="0">
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shop_fare">Shop Fare</label>
                            <input type="number" class="form-control" id="shop_fare" name="shop_fare" value="0">
                          </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>